

.dismiss-cross,
.rn-dismiss-btn {
	display: block;
	float: left;
	margin-right: 12px;
	font-weight: bold;
	margin-top: 8px;
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	background-color: #0085ba;
	padding: 2px 6px;
	text-transform: uppercase;
}

.dismiss-cross {
	margin-right: 0px;
	font-weight: normal;
}

.dismiss-cross:hover,
.rn-dismiss-btn:hover {
	color: #FFF;
	background-color: #006086;
}

.dismiss-text {
	display: block;
	float: left;
	margin-top: 8px;
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	background-color: #0085ba;
	padding: 2px 12px 2px 6px;
}

.dismiss-text:hover {
	color: #FFF;
	background-color: #006086;
}

.ad-review:before {
	display: block;
	clear: both;
	content: " ";
	height: 1px;
}

.ad-review {
	display: block;
	float: left;
	padding-right: 16px;
}

.review-text {
	display: block;
	float: left;
	margin-top: 8px;
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	background-color: #0085ba;
	padding: 0px 12px;
}

.review-text:hover {
	color: #FFF;
	background-color: #0095d1;
}

.tx-notice {
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}







.tx-dash-notice {
	position: relative;
}

.tx-dashnotice-close,
.tx-dashnotice-close:visited {
	font-size: 12px;
	display: block;
	position: absolute;
	right: 12px;
	top: 6px;
	height: 20px;
	width: 64px;
	line-height: 20px;
	text-decoration: none;
	color: #dd3333;
	padding-left: 23px;
}

.tx-dashnotice-close:before {
	display: block;
	position: absolute;
	font-family: dashicons;
	left: 0px;
	top: 1px;
	font-size: 17px;
	content: "\f153";
}

.wp-admin #wpwrap .tx-dash-notice {
	display: none!important;
	border-left-color: #a42c81;
	background-color: #f7f0f5;
	margin-top: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}
.wp-admin.index-php #wpwrap .tx-dash-notice,
.wp-admin.appearance_page_welcome-screen-about #wpwrap .tx-dash-notice {
	display: block!important;
}

.wp-admin .tx-dash-notice a,
.wp-admin .tx-dash-notice a:visited {
	color: #a42c81;
}

.wp-admin .tx-dash-notice .button-hero {
	margin-right: 12px;
}

.wp-admin .tx-dash-notice .tx-livedemo.button-hero {
    background-color: #a42c81;
    color: #FFFFFF;
    border: 1px solid #630047;
    text-transform: capitalize;
    font-weight: 600;
	box-shadow: 0 2px 0 #91186e;	
	text-shadow: 0 -1px 1px #91186e, 1px 0 1px #91186e, 0 1px 1px #91186e, -1px 0 1px #91186e;
}

.wp-admin .tx-dash-notice .tx-livedemo.button-hero:focus,
.wp-admin .tx-dash-notice .tx-livedemo.button-hero:active {
    background-color: #a42c81;
	box-shadow: inset 0 3px 0 #730c55;
}

.wp-admin .tx-dash-notice .tx-livedemo.button-hero:hover {
    background-color: #ad3c8c;
}

.wp-admin.index-php .howtoimport {
	display: none;
}

.wp-admin #wpwrap .tx-dash-notice .nxn-image {
	display: block;
	float: left;
	max-width: 50%;
}

.wp-admin #wpwrap .tx-dash-notice .nxn-image img {
	border: 6px solid #FFF;
	max-width: 400px;
}

.wp-admin #wpwrap .tx-dash-notice .nxn-content {
	display: block;
	float: left;
	min-width: 100%;
	padding-left: 0px;
}

.wp-admin #wpwrap .tx-dash-notice .nxn-content .nxn-welcome {
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 6px;
	line-height: 32px;
}

.wp-admin #wpwrap .tx-dash-notice .nxn-content .nxn-desc {
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 0px;
}

.wp-admin #wpwrap .tx-dash-notice .nxn-content .nxn-desc p {
	font-size: 16px;
	line-height: 24px;
}

.wp-admin #wpwrap .tx-dash-notice .nxn-content .nxn-desc p.nxn-start {
	font-size: 16px;
}

.wp-admin #wpwrap .tx-dash-notice .nxn-content a.after-setup,
.wp-admin #wpwrap .tx-dash-notice .nxn-content a.after-setup:visited {
	padding-top: 12px;
	padding-bottom: 12px;
	display: inline-block;
	text-decoration: none;
}

.wp-admin #wpwrap .tx-dash-notice .nxn-content a.after-setup:hover {
	text-decoration: underline;
}


@media (max-width: 1024px) {
  
	.wp-admin #wpwrap .tx-dash-notice .nxn-image {
		display: block;
		float: none;
		max-width: 90%;
	}
	
	.wp-admin #wpwrap .tx-dash-notice .nxn-image img {
		max-width: 400px;
		width: 100%;
	}
	
	.wp-admin #wpwrap .tx-dash-notice .nxn-content {
		display: block;
		float: none;
		min-width: 80%;
		padding-left: 16px;
		padding-right: 32px;
		width: 90%;
	}
  
}

.notice.notice-info.kirki-telemetry {
	display: none;
}