.vision-map-1 {
}
.vision-map-1 .vision-lr-1 {
background-color:rgba(0,0,0,0.13);
}
.vision-map-1 .vision-lr-1:hover {
background-color:rgba(0,0,0,0.42);
}
.vision-map-1 .vision-lr-2 {
background-color:rgba(0,0,0,0.13);
}
.vision-map-1 .vision-lr-2:hover {
background-color:rgba(0,0,0,0.42);
}
.vision-map-1 .vision-lr-3 {
background-color:rgba(0,0,0,0.13);
}
.vision-map-1 .vision-lr-3:hover {
background-color:rgba(0,0,0,0.42);
}
.vision-map-1 .vision-lr-4 {
background-color:rgba(0,0,0,0.13);
}
.vision-map-1 .vision-lr-4:hover {
background-color:rgba(0,0,0,0.42);
}
.vision-map-1 .vision-lr-5 {
background-color:rgba(0,0,0,0.13);
}
.vision-map-1 .vision-lr-5:hover {
background-color:rgba(0,0,0,0.42);
}
.vision-map-1 .vision-lr-6 {
background-color:rgba(0,0,0,0.13);
}
.vision-map-1 .vision-lr-6:hover {
background-color:rgba(0,0,0,0.42);
}
.vision-map-1 .vision-lr-7 {
background-color:rgba(0,0,0,0.13);
}
.vision-map-1 .vision-lr-7:hover {
background-color:rgba(0,0,0,0.42);
}
.vision-map-1 .vision-lr-8 {
background-color:rgba(0,0,0,0.13);
}
.vision-map-1 .vision-lr-8:hover {
background-color:rgba(0,0,0,0.42);
}
.vision-map-1 .vision-lr-9 {
background-color:rgba(0,0,0,0.13);
}
.vision-map-1 .vision-lr-9:hover {
background-color:rgba(0,0,0,0.42);
}
